<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>klantenServlet</servlet-name>
        <servlet-class>controller.KlantenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertKlantServlet</servlet-name>
        <servlet-class>controller.insertKlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>controller.productServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oogmetingServlet</servlet-name>
        <servlet-class>controller.oogmetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertProductServlet</servlet-name>
        <servlet-class>controller.insertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertOogmetingServlet</servlet-name>
        <servlet-class>controller.insertOogmetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verkoopServlet</servlet-name>
        <servlet-class>controller.verkoopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertVerkoopServlet</servlet-name>
        <servlet-class>controller.insertVerkoopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlantVerkoopServlet</servlet-name>
        <servlet-class>controller.KlantVerkoopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteKlant</servlet-name>
        <servlet-class>controller.deleteKlant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteKlantServlet</servlet-name>
        <servlet-class>controller.deleteKlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlantOogmetingServlet</servlet-name>
        <servlet-class>controller.KlantOogmetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>klantenServlet</servlet-name>
        <url-pattern>/klanten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertKlantServlet</servlet-name>
        <url-pattern>/insertKlant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verkoopServlet</servlet-name>
        <url-pattern>/verkoop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oogmetingServlet</servlet-name>
        <url-pattern>/oogmeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertProductServlet</servlet-name>
        <url-pattern>/insertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertOogmetingServlet</servlet-name>
        <url-pattern>/insertOogmetingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertVerkoopServlet</servlet-name>
        <url-pattern>/InsertVerkoopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlantVerkoopServlet</servlet-name>
        <url-pattern>/KlantVerkoop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteKlantServlet</servlet-name>
        <url-pattern>/deleteklant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlantOogmetingServlet</servlet-name>
        <url-pattern>/KlantOogmetingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/rs_optiek</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
